{% extends 'base.html.twig' %}

{% block title %}{{ message.title }}{% endblock %}

{% block body %}
<a href="{{path('account-messages')}}"><button>Your message box</button></a>
<div class="discussion">

    <div class="originalMessage">
        <h1>{{ message.title }}</h1>
        <p>{{message.content}}</p>
        <small>Sent by {{message.author}} on {{message.createdAt|format_datetime('medium', 'short')}}</small>
    </div>
</div>   
{% endblock %}
