{% extends 'base.html.twig' %}

{% block title %}Hello JournalController!{% endblock %}

{% block body %}


    <h1>All blog posts</h1>

    {% for article in articlesFull %}
        <div style="background-color: lightgrey; margin: 40px; padding: 10px; border: solid black 4px; width: 60%;">
            <a href="{{ path('blog', {username: article.author}) }}">
                <div style="border: solid grey 2px; background-color: white;">
                    <p style="font-weight: bold; font-size: 2em; text-align: center;">{{ article.title }}</p>
                    <small>By {{article.author}}</small>
                </div>
            </a>
            {% if article.tags|length is same as(0) %}
               <h5>Untagged</h5>
            {% else %}
                <h5>Tags : 
                    {% for tag in article.tags %}
                        #{{tag}}  
                    {% endfor %}
                </h5>
            {% endif %}
            <p>{{ article.articleContent|slice(0, 35) }}...</p>
            
            <a href="{{path('page-article', {id: article.id})}}">Show full article</a>
            <br>
            <small>{{ article.articleCreatedAt|format_datetime('medium', 'short') }}</small>
        </div>
       
    {% endfor %}

    {% if previous >=0 %}
        <a href="{{ path('journal', {offset: previous}) }}">Previous</a>
    {% endif %}

    {% if next < articlesFull|length %}
        <a href="{{ path('journal', {offset: next}) }}">Next</a>
    {% endif %}
    
{% endblock %}
