{% extends 'base.html.twig' %}

{% block title %}{{user.username}}'s page{% endblock %}

{% block body %}
{# CHECK SI SUIVI OU SUIVI PAR #}
{% if checkFollow %}
    <h4>✔️​ You are following {{user.username}}</h4>
{% else %}
    <a href="{{ path('blog-follow', {username: user.username}) }}"><button>Follow {{user.username}}</button></a>
{% endif %}
{% if checkFollowedBy %}
    <h4>✔️​ Follows you</h4>
{% else %}
    <h4>❌​​ Does not follow you yet</h4>
{% endif %}
<a href="{{ path('account')}}"><button>Back on your Profile</button> </a>

{# ENVOI DE MESSAGE #}
{% if checkFollow and checkFollowedBy %}
    <a href="{{ path('message', {username: user.username}) }}"><button>Send a message to {{user.username}}</button></a> 
{% endif %}

{# LES ARTICLES DE L'USER #}
<h2>{{user.username}}</h2>
{% for article in articles %}
        <div style="background-color: lightgrey; margin: 40px; padding: 10px; border: solid black 4px; width: 60%;">
            <div style="border: solid grey 2px; background-color: white;">
                <p style="font-weight: bold; font-size: 2em; text-align: center;">{{ article.title }}</p>
                <small>By {{article.author}}</small>
            </div>
            <p>{{ article.articleContent|slice(0, 35) }}...</p>
            
            <a href="{{path('page-article', {id: article.id})}}">Show full article</a>
            <br>
            <small>{{ article.articleCreatedAt|format_datetime('medium', 'short') }}</small>
        </div>
       
    {% endfor %}
    {% if previous >=0 %}
        <a href="{{ path('blog', {offset: previous, username: user.username}) }}">Previous</a>
    {% endif %}

    {% if next < articles|length %}
        <a href="{{ path('blog', {offset: next, username: user.username}) }}">Next</a>
    {% endif %}


{% endblock %}
